<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
      <server>
          <id>maven.oracle.com</id>
          <username>hhma@alumni.cpp.edu</username>
          <password>{VWQ+rTM/3Y0Hao/pWWBbn4OOrALsA7tHPomdHlL3eLFRLbABpUXihHyLQrXO2n77}</password>
          <configuration>
              <basicAuthScope>
                   <host>ANY</host>
                   <port>ANY</port>
                    <realm>OAM 11g</realm>
              </basicAuthScope>
              <httpConfiguration>
                  <all>
                      <params>
                           <property>
                               <name>http.protocol.allow-circular-redirects</name>
                               <value>%b,true</value>
                           </property>
                      </params>
                  </all>
              </httpConfiguration>
          </configuration>
      </server>
      <server>
          <username>helenma33</username>
          <id>packagecloud.release</id>
          <password>${env.PCLOUD}</password>
     </server>
      <server>
          <username>helenma33</username>
          <id>packagecloud.snapshot</id>
          <password>${env.PCLOUD}</password>
      </server>
      <server>
          <id>github</id>
          <username>aCodeRancher</username>
          <password>pkChanRoTam12-16</password>
      </server>
      <server>
          <id>nexus-snapshot</id>
          <username>admin</username>
          <password>pkChanRoTam12-16</password>
      </server>
      <server>
          <id>nexus-release</id>
          <username>admin</username>
          <password>{WG2fSAVy4uMH1LhtPFhXf5zW1AJgHnr4LMbG9QlGZ/SNQJx8CcF1kCW9hor8yTy8}</password>
      </server>
  </servers>
   <!--<mirrors>
      <mirror>
          <id>central</id>
          <name>central</name>
          <url>http://localhost:8081/repository/nexus-group/</url>
          <mirrorOf>*</mirrorOf>
      </mirror>
   </mirrors>-->
   <profiles>
       <profile>
           <id>jboss</id>
           <repositories>
               <repository>
                   <id>redhat-ga</id>
                   <url>https://maven.repository.redhat.com/ga</url>
                   <snapshots>
                       <enabled>false</enabled>
                   </snapshots>
               </repository>
           </repositories>
       </profile>
   </profiles>
    <activeProfiles>
         <activeProfile>jboss</activeProfile>
    </activeProfiles>

</settings>